@font-face {
  font-family: 'PocketMonk';
  src: url('./fonts/PocketMonk.otf');
}

@font-face {
  font-family: 'PokemonGB';
  src: url('./fonts/PokemonGB.ttf');
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: PokemonGB;
  background: linear-gradient(50deg, #fe8c00, #f83600);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  font-family: PocketMonk;
}

.App {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SearchField {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

button {
  background: linear-gradient(50deg, #fe8c00, #f83600);
  border: none;
  font-family: PocketMonk;
  color: white;
  font-size: 1.5em;
  outline: none;
}

input {
  outline: none;
  font-family: PokemonGB;
  padding-top: 3px;
  height: 24px;
  font-size: 14px;
  text-indent: 0.5em;
}

.image-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  margin: 15px 0;
}

.errorMessage {
  height: 100px;
  margin-top: 60px;
  margin-bottom: 0;
}

input:focus,
button:focus {
  box-shadow: 0 0 5px #fec300;
  border: 1px solid #fec300;
}

.pokeball {
  max-width: 90px;
  max-height: 90px;
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
